<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Vocab</title>
</head>
<body>
    <h1>French Vocab Game</h1>
    <form method="POST" action="">
        <label for="topicSelect">Select Topic</label>
        <select title="topicSelect" name="topicSelect" id="topicSelect">
            <option value="">Select...</option>
            <option value="1.1">1.1</option>
            <option value="1.2">1.2</option>
        </select>
        <input type="submit" value="Go!">
    </form>
</body>
</html>